// @public: function for get $particle object for draw ellipse
//
// @param: $color
// @param: $width
// @param: $height
// @param: $x: 0
// @param: $y: 0
//
// @return: Formated map of backgrounds
@function skeleton-ellipse(
    $color,
    $width,
    $height,
    $x: 0,
    $y: 0,
    $clip: border-box
) {
    @return (
        $clip radial-gradient(closest-side, $color 100%, transparent 100%) #{$x} #{$y} / #{$width} #{$height}
    );
}
